<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to t(".link_name_1"), t(".href_1") %>
  <%= t ".p2" %>
  <%= link_to t(".link_name_2"), t(".href_2") %>
</p>
